/* utility */
:root {
  --toggle-width: 35px;
  --toggle-height: 14px;
}

.d--f {
  display: flex;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.button {
  display: inline-block;
  padding: 1.35em 2.2em;
  border: 0.1em solid #5abe90;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.5em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #5abe90;
  text-align: center;
}

button:hover {
  color: #000000;
  background-color: #5abe90;
}

@media all and (max-width: 30em) {
  button {
    display: block;
    margin: 0.4em auto;
  }
}

/* Housekeepinbg */
html {
  background-color: #f1f1f1;
}

main {
  padding: 1em;
  margin: 1em;
  background-color: white;
}

.page-main-header {
  align-items: center;
  justify-content: center;
}

.main-header {
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 20px 0;
}

i.fa-solid.fa-desktop{
  padding: 6px;
  background-color: lightgray;
  margin-right: 10px;
  font-size:2em;
}

.compliance-header {
  align-items: center;
}

#model-aok {
  outline: 1px solid #eaeaea;
  border-radius: 7px;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;  
}
#model-aok p{
  padding: 0 8.5em;
}

span.model-checkmark {
  background-image: url('/images/icon_checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  background-color: #ebf8f4;
  border-radius: 7px 0 0 7px;
}

.model-btn-close {
  align-self: flex-start;
  height: 15px;
  width: 15px;
  border-radius: 25px;
  font-size: 0.1em;
  padding: 0;
  margin: 3px 3px 0 0;
}

.switch {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 50px;
  height: 25px;
  background-color: lightgray;
  border-radius: 40px;
  border: 1px solid #55af87;
  outline: none;
  position: relative;
  transition: 200ms;
}

.switch:checked {
  background-color: #5abe90 !important;
  border: 1px solid #5abe90;
}
.switch:before {
  content: '';
  width: 23px;
  height: 23px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: 200ms;
}
.switch:checked:before {
  left: 23px;
}

/* Form reset (remove defaults) */

button,
fieldset,
input,
legend,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
select,
textarea {
  background-color: white;
  border-radius: 0.25rem;
}

input[type='text'],
input[type='email'],
select,
textarea {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

select {
  background: url('/images/down-arrow.svg') no-repeat center right 0.75rem;
}

input[type='checkbox']:checked {
  background: url('/images/check.svg') no-repeat center / 75% auto;
}

button {
  font: 1.25rem sans-serif;
  border-radius: 1.5rem;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 4px black;
}

button[type='submit'] {
  background-color: #5abe90;
  color: white;
}

button[type='submit']:hover {
  background-color: #4fa77e;
}

button[type='reset'] {
  text-decoration: underline;
}

button[type='reset']:hover {
  text-decoration: none;
}
/* Form focus */
input:focus,
select:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(157, 230, 168, 0.749);
}

/* Position */

/* Theme */
fieldset.d--f {
  gap: 1em;
  flex-wrap: wrap;
}

fieldset.d--f > * {
  align-items: center;
  justify-content: space-between;
  flex: 1 1;
}

input[type='radio'] {
  width: 276px;
  min-height: 172px;
  background-color: #55af87;
}

#dark-theme {
  background-image: url('/images/fake_banner_dark.png');
  background-repeat: no-repeat;
}
#light-theme {
  background-image: url('/images/fake_banner_light.png');
  background-repeat: no-repeat;
}
#custom-theme {
  background-image: url('/images/fake_banner_dark.png');
  background-repeat: no-repeat;
}

input[type='radio']:checked,
input[type='radio']:active {
  border: 3px solid #4fa77e;
  /* background-color: #4fa77e; */
}
/* Button group */
#button-group {
  align-items: center;
  justify-content: space-between;
}
/* Legislation */

/* if button checked apply style AND style to label as well */
.legislation > div input[type='radio']:checked + label {
  box-shadow: 0 0 0 4px rgba(157, 230, 168, 0.749);
}
